.box-right{
    transition: width 1s ease;
    width: 100vw;
}

.box-left{
    transition: width 1s ease;
    width: 0vw;
}

.text-right{
    transition: opacity 1s ease;
    opacity: 0;
}
.imageSueLogo{
    transition: opacity 1s ease;
    opacity: 0;
}

.container{
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(-40px);
    opacity: 0;
}

.banner{
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 1s ease, transform 1s ease;
}

.cards-row .card{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

@media (min-width: 768px) and (max-width: 1440px){
    .box-right{
        width: 100vw;
    }
    .box-left{
        width: 100vw
    }
    .text-right{
        opacity: 0;
    }
    .imageSueLogo{
        opacity: 0;
    }
}

@media (max-width: 767px){
    .box-right{
        width: 100vw;
    }
    .box-left{
        width: 100vw
    }
    .text-right{
        opacity: 0;
    }
    .imageSueLogo{
        opacity: 0;
    }
}