body{
  margin:0;
  
}

.home {
  display: flex;

}

h1 {
  margin-bottom: 50px;
}


.box-left{
  height: 748px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 

}

.box-right {
  width: 50%;
  position: relative;
}

.verticalLine{
  width: 2px;
  height: 230px;
  background-color: white;
  position: absolute;
  top: 0%;
  right: 17%;
}

.box-left {
  background-color: #f7f7fB; 
  color: #15161a;
}

.box-right {
  background-color: #15161a; 
  color: #f7f7fB;
}

.text-right{
  font-weight: bold;
  font-size: 32px;
  font-family: "Poppins";
  padding-left: 80px;
  padding-top: 120px;
  line-height: 1.2;
  
}

.desc{
 
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: normal;
  white-space: normal;
  padding-bottom: 30px;
  line-height: 2; 
}

.contact-btn {
  color: #efc357; 
  background-color: transparent;
  border: 1px solid;
  border-color: #efc357; 
  padding: 10px 50px; 
  border-radius: 3px;
  font-size: 20px; 
  cursor: pointer;
  transition: scale 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.contact-btn:hover {
  background-color: #efc357;
  color: #15161a;
  scale: 1.1;
  transition: scale 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}



@media (min-width: 768px) and (max-width: 1440px){

.home {
  display: block;
  flex-direction:column;
  width: 100%;
  
}
.imageSueLogo {
  max-width: 100%;            
  height: auto;               
  
}

.box-left, .box-right {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  height: 38rem;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0;
}

.verticalLine{
  position: absolute;
  top: 0%;
right: 5%;
height: 100%;
} 

 
.desc{
  font-size: 1.3rem;
  white-space: normal;
}
.contact-btn {
  color: #efc357; 
  background-color: transparent;
  border: 1px solid;
  border-color: #efc357; 
  padding: 10px 50px; 
  border-radius: 3px;
  font-size: 17px; 
  cursor: pointer;
}

.text-right{
  font-size: 1.2rem;
  padding-top: 0.1rem;
  padding-inline: 2rem;
}

}

@media (max-width: 767px){
.home {
  display: block;
  flex-direction:column;
  text-align: center;
  position: relative;
  
}


.box-left, .box-right {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  height: 37rem;
  width: 100%;
  text-align: center;
}

.imageSueLogo {
  max-width: 100%;            
  height: auto;               
  
}

.verticalLine{
  position: absolute;
right:5%;
top: 0%;
height: 100%;
} 

.contact-btn {
  color: #efc357; 
  background-color: transparent;
  border: 1px solid;
  border-color: #efc357; 
  padding: 10px 50px; 
  border-radius: 3px;
  font-size: 17px; 
  cursor: pointer;
}

.text-right{
  font-size: 1.2rem;
  padding-top: 0.1rem;
  padding-inline: 2rem;
}

.desc{
  font-size: 1.3rem;
  white-space: normal;
 
  
}

h1 {
  margin-bottom: 20px;
}
}