body {
    padding-top: 70px;
    overflow-x: hidden;
}

.split-header {
    display: flex;
    width: 100%;
    height: 70px;
    font-family: 'Poppins';
    position: fixed;
    min-width: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.header-left, .header-right {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.header-left {
    background-color: #15161a; 
    color: #ffffff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.header-right {
    background-color: #f7f7fB; 
    justify-content: flex-end;
}

.nav-links {
  display: flex;
  gap: 40px;
  right: 20px;
  position: relative;
  
}

.nav-links a {
  color: #15161a; 
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  transition: color 0.3s ease;
  font-family: "Poppins";
  font-weight: 17px;
  transition: scale 0.3s ease;
}

.nav-links a:hover {
  color: #c49b36;
  scale: 1.1;
  transition: scale 0.3s ease;
}

.nav-links a.active {
  color: #c49b36;
  scale: 1.1;
}


/* Footer Styles */
.footer {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 60px 0px 30px;
  text-align: center; 
  position: relative;
  height: auto;
  bottom: 0;

}

.footer-wrapper {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.newsletter-input {
  width: 100%;
  max-width: 480px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: none;
  border-radius: 2px;
  font-size: 0.95rem;
  background-color: #fff;
  color: #000;           
  outline: none;
  box-shadow: none;
}

input:focus.newsletter-input, textarea:focus.newsletter-input {
  border-bottom: 0px;
}
.newsletter-label {
  color: #aaaaaa5d; 
  margin-bottom: 8px;
  display: block;
  text-align: left;
  max-width: 480px;
  position: relative;
  font-family: 'Poppins';
  font-weight:normal;
  right: 188px;
}

.subscribe-btn {
  background-color: #cfa935;
  color: #ffffff;
  font-weight: 17;
  border: none;
  padding: 12px 25px;
  border-radius: 3px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, scale 0.3s ease;
  position: relative;
  top: 10px;
  font-family: "Roboto";
  scale: 1;
}

.homeShit{
  cursor: pointer;
  scale: 1;
  color: #ffffff;
  transition: scale 0.3s ease, color 0.3s ease;
}

.homeShit:hover{
  color: #cfa935;
  scale: 1.1;
  transition: scale 0.3s ease, color 0.3s ease;
}

.subscribe-btn:hover {
  background-color: #ffffff;
  color: #15161a;
  transition: background-color 0.3s ease, scale 0.3s ease;
  scale: 1.1;
}

.follow-us h4 {
  margin-bottom: 15px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Roboto";
  font-weight: 17;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.social-icons img {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-line {
  width: 100%;
  max-width: 700px;
  border: none;
  border-top: 1px solid #777;
  margin-bottom: 20px;
  position: relative;
  top: 10px;
}

.footer p {
  font-size: 0.85rem;
  color: #aaa;
}

.copyright {
  position: relative;
  font-family: "Open Sans";
  font-weight: 16;
  top: 10px;
}

.hamburger-menu {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #15161a;
  display: none;
  z-index: 1099; /* поверх меню */
}

.hamburger-menu.open {
  color: #c49b36;
}
.responsive-logo {
  display: none;
}



@media (min-width: 768px) and (max-width: 1439px) {
  .split-header {
      display: flex;
      height: 200px;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      flex-direction: column-reverse;
      width: 100vw;
  }

  .header-left, 
  .header-right {
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      text-align: center;
      
  }

  .nav-links {
      gap: 20px;                   /* меньше отступы */
      position: static;            /* убираем смещение */
      margin-top: 10px;
  }

  .logo {
      font-size: 1.2rem;           /* чуть меньше логотип */
  }

  footer.footer{
    width: 100vw;
    /* margin-top: 20px; */
  }

  .newsletter-label {
    right: 0;
    text-align: center;
  }

  .responsive-logo {
  display: none;
}
}

@media (max-width: 767px) {

  body {
    overflow-x: hidden;
  }
  .dark{
    opacity: 0;
    position: fixed; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0; 
    transition: transform 0.5s ease;
}
.responsive-logo {
    display: block;
  }


  .split-header {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      width: 100%;
  }

  .header-left, 
  .header-right {
      width: 100vw;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      text-align: center;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
  }

  .hamburger-menu {
    display: block;
  }

  .nav-links.mobile-menu {
    position: fixed;
    top: 50px;
    right: 0;
    height: 100vh;
    width: 150px;
    background: #f7f7fb;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    /* text-align: center; */
    gap: 30px;
    padding: 20px;
    transform: translateX(100%); 
    transition: transform 0.5s ease;
    z-index: 1100;
  }

  .nav-links.mobile-menu a {
    font-size: 17px;
    color: #15161a;
  }

  .nav-links.mobile-menu.open {
    transform: translateX(0); 
  }
  .nav-links {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  footer.footer{
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    /* margin-top: 20px; */
  }

  .newsletter-label {
    right: 0;
    text-align: center;
  }

  input#newsletter.newsletter-input{
    width: 90vw;
    padding: 10px 0px;
  }

  .footer-line{
    width: 90vw;
  }
}
